<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/dtd/hibernate-configuration">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Root0001</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library?serverTimezone=Europe/Paris</property>
		<property name="hibernate.dialect"> org.hibernate.dialect.MySQL57Dialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
<!-- 		<property name="hibernate.hbm2ddl.import_files">nutriplusDB.sql</property> -->
		<mapping class="models.Author"></mapping>
		<mapping class="models.Book"></mapping>
		<mapping class="models.Library"></mapping>
		<mapping class="models.Shelf"></mapping>
	</session-factory>
</hibernate-configuration>