/*******************************************************************************
*                              STYLES GENERAUX                                 *
*******************************************************************************/

* {
    box-sizing : border-box;
}

html {
    font-size : 62.5%; /* 1rem = 10px */
    scroll-behavior : smooth;
}

body {
    min-height : 100vh;
    display : flex;
    flex-direction : column;
    color : #e1e1e1;
    font-family: 'Open Sans', sans-serif;
    font-size : 1.6rem; /* On revient à 16px par défaut */
    line-height : 1.6;
}

.fab {
	font-size: 2rem;
}


















/* fin */
