<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
	<servlet>
		<description>
		</description>
		<display-name>AddClubServlet</display-name>
		<servlet-name>AddClubServlet</servlet-name>
		<servlet-class>controllers.AddClubServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ClubDetailServlet</display-name>
		<servlet-name>ClubDetailServlet</servlet-name>
		<servlet-class>controllers.ClubDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddTeamServlet</display-name>
		<servlet-name>AddTeamServlet</servlet-name>
		<servlet-class>controllers.AddTeamServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>plop</display-name>
		<servlet-name>plop</servlet-name>
		<servlet-class>controllers.plop</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookDetailServlet</display-name>
		<servlet-name>BookDetailServlet</servlet-name>
		<servlet-class>controllers.BookDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClubServlet</servlet-name>
		<url-pattern>/AddClubServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClubDetailServlet</servlet-name>
		<url-pattern>/ClubDetailServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTeamServlet</servlet-name>
		<url-pattern>/AddTeamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>plop</servlet-name>
		<url-pattern>/plop</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookDetailServlet</servlet-name>
		<url-pattern>/BookDetailServlet</url-pattern>
	</servlet-mapping>
	<filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>

</web-app>
